* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#form, #updateForm, #allNutritionRecords, #allEmployeeRecords {
	margin: 50px 50px;
}

#container {
	display: flex;
	flex-direction: row;
}

#left-pane {
	display: flex;
	flex-direction: column;
}

.sidebar {
	height: 100vh;
	flex-grow: 1;
}

#container #right-pane {
	display: inherit;
	margin: 10px 2%;
	width: 100%;
}


#updateFields, #AddFields {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#allNutritionRecords {
	margin-bottom: 0;
}

#updateFields.col-md-8, #AddFields.col-md-8 {
	margin: 16px auto;
}

#dashboard {
	width: 100%;
	margin: 0 10%;
}



#navbarText:last-of-type {
	margin-left: auto;
}
#navbarText:last-of-type {
	margin-left: auto;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}